/* 
#3a5a81
#d31336
#252131


*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #d31336;
  font-family: Helvetica, Arial, sans-serif;
}

/* Nav Bar Styling Start */
header {
  padding: 20px 35px;
  background-color: #252131;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #d31336;
  margin: 0;
  display: inline;
}

header a {
  text-decoration: none;
  color: #d31336;
}

header nav {
  float: right;
  margin: 7px 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}

/* Nav Bar Styling End */

/* Footer Stlying Start*/

footer {
  background: #3a5a81;
  width: 100%;
  padding: 40px 35px;
}

footer h2 {
  display: inline;
  color: #252131;
  font-size: 30px;
  margin: 0;
}

footer div {
  float: right;
  line-height: 1.5;
  text-align: right;
}

footer a {
  color: #252131;
}

/* Footer Stlying End*/